.Legal{
  font-family: var(--font-gugi);
  font-size: 12px;
  color: #9987ff;
  text-align: center;
  margin: 20px 15px
}
.Legal p{
  text-align: left;
  font-size: 15px;
}


.Title {
  font-family: var(--font-goldman);
  font-weight: 700;
}